:root {
	--sidebarInlineSize: 15rem;
	--minBlockSize: 37.5rem;
	--minInlineSize: 48rem;
	--bottomSize: 5.5rem;
}

.layout {
	min-width: var(--minInlineSize);
}

.layout-main {
	min-block-size: var(--minBlockSize);
	block-size: calc(100vh - var(--bottomSize));
	overflow: auto;
}

.layout-block {
	display: flex;
}

.layout-sidebar {
	inline-size: var(--sidebarInlineSize);
	block-size: calc(100vh - var(--bottomSize));
	overflow: auto;
	flex-shrink: 0;
}

.layout-bottom {
	flex: 1;
	block-size: var(--bottomSize);
}
