@import "./search.css";
@import "./navigation.css";
@import "./header.css";

.sticky {
	position: sticky;
	top: 0;
	z-index: 2;
}

.page {
	padding: 2rem;
	padding-inline-end: 0;
}

.page .header {
	margin-block-end: 1rem;
	margin-inline: 0rem;
	box-sizing: border-box;
}

.page-block {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
