@import "./playlist-a.css";
@import "./playlist-b.css";
@import "./playlist-list.css";

.playlistList {
}
.playlistList-top {
	padding-block: 0.5rem;
	margin-block-end: 1rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}

.playlistList-container {
	display: flex;
	overflow-x: auto;
	gap: 1rem;
}

.playlistList-title {
	font: var(--headline2);
	color: var(--white);
	margin: 0;
}

.playlistList-container > * {
	flex-shrink: 0;
}
