.playerPlayback {
	display: flex;
	align-items: center;
	inline-size: 100%;
	gap: 0.5rem;
}

.playerPlayback-slider {
	flex: 1;
}

.playerPlayback-progressTime {
	color: white;
	font: var(--smallFont);
	line-height: 1;
	position: relative;
	top: 1.5px;
}
