.slider {
	inline-size: 100%;
	background: rgba(255, 2555, 255, 0.2);
	block-size: 0.25rem;
	border-radius: 0.5rem;
}

.slider-progress {
	--progress: 34%;
	block-size: inherit;
	border-radius: inherit;
	background: var(--white);
	inline-size: var(--progress);
	display: flex;
	align-items: center;
	padding-left: calc(var(--progress) - 1%);
	box-sizing: border-box;
}
.slider-button {
	background-color: var(--white);
	block-size: 200%;
	border-radius: 50%;
	padding: 0;
	border: 0;
	aspect-ratio: 1/1;
	opacity: 0;
}

.slider:hover .slider-progress {
	background-color: var(--primary);
}

.slider:hover .slider-button {
	opacity: 1;
}
